.view-section{
    background-color: #fff;
}

.notice-header{
    width: 100%;
    padding: 1.2em 0;
    padding-top: 0;
    border-bottom: 1px solid #000;
}

form{
    flex-direction: column;
    height: 700px;
}

.reminder-container{
    height: 650px;
    overflow: auto;
}

#notice{
    float: right;
    width: 8%;
    text-align: center;
}

.reminder-container .reminder-card{
    position: relative;
    width: 22%;
    padding: 0;
    margin: .8em;
}

.reminder-container .card .date{
    position: absolute;
}

.reminder-card img{
    width: 100%; height: 100%;
    /* border-radius: 4px; */
}

.pop{
    background-color: #fff;
    padding:1.2em;
    display: none;
}

.close{
    text-align: end;
    font-size: 20px;
    font-weight: bold;
}