* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    list-style: none !important;
    color: #000 !important;
}


/* Util */

body {
    background-color: #d4e2e5;
}

img {
    object-fit: cover;
}

button {
    padding: 3px 4px !important;
}

p {
    margin-bottom: 0 !important;
}

.view-section {
    width: 1111px;
}


/* 고정 프로필 영역 */


/* 기본적으로 둥글게는 5px */

.wrap-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1920px !important;
}

.profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.profile-img img {
    width: 100%;
    height: 100%;
}

.profile {
    position: absolute;
    bottom: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    height: 170px;
}

.profile button {
    margin: 5px;
    font-size: 10px;
}

.profile-small-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
}

.profile-small-img img {
    width: 100%;
    height: 100%;
}


/* 작품실 */

.projects {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    overflow: auto;
    height: 700px;
}

.project-select {
    position: absolute;
    top: -52px;
    z-index: 10;
}


/* header 영역 */

header {
    position: relative;
    padding-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    width: 70px;
    height: 700px;
    border-radius: 5px;
}

.logo {
    width: 50px;
    height: 50px;
    margin-bottom: 30px;
}

.logo img {
    width: 100%;
    height: 100%;
}

.more-people {
    color: rgb(181, 181, 181) !important;
    font-size: 20px;
    margin-top: 5px;
    font-weight: bold;
}

.project-write-type {
    background-color: rgb(153, 166, 165);
    width: 60px;
    text-align: center;
    font-size: 14px;
    color: #fff !important;
    margin: 5px 0;
}


/* 파트2 */

.banner {
    width: 100%;
    height: 80px;
}

.banner a {
    display: block;
    width: 100%;
    height: 100%;
}

.banner a img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.form-control {
    width: 60% !important;
    margin: 0 auto !important;
}

/* .row .col {
    width: 100%;
    height: 300px !important;
} */

.lunch .card,
.project .card,
.notice .card,
.calrandar .card {
    height: 100%;
}

.project ul,
.notice ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.2rem !important;
}

.ipHeader input{
    width: 500px;
    border: 1px solid #000;
    border-radius: 5px;
}
