<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
    <link rel="stylesheet" href="/bootstrap-5.1.3-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap-5.1.3-dist/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/honor.css">
    <title>Document</title>
</head>

<body>
    <div class="container wrap-container d-flex justify-content-center align-items-center">
        <div class="view-section d-flex justify-content-between align-items-center ">
            <div class="honor-title">
                <div class="honor-title d-flex justify-content-center align-items-center">
                    <img src="../image/honor_title.png" alt="honor-title">
                </div>
                <div class="old d-flex justify-content-between align-items-center">
                    <div class="gold">
                        <p>asdf</p> <br>
                        <span>선배</span>
                    </div>
                    <div class="gold">
                        <p>asdf</p> <br>
                        <span>선배</span>
                    </div>
                    <div class="gold">
                        <p>asdf</p> <br>
                        <span>선배</span>
                    </div>
                    <div class="gold">
                        <p>asdf</p> <br>
                        <span>선배</span>
                    </div>
                    <div class="gold">
                        <p>asdf</p> <br>
                        <span>선배</span>
                    </div>
                    <div class="gold">
                        <p>asdf</p> <br>
                        <span>선배</span>
                    </div>
                    <div class="gold">
                        <p>asdf</p> <br>
                        <span>선배</span>
                    </div>
                </div>
            </div>

            <div class="honor-container">
                <div class="honor-content">
                    <div class="h-card card">
                        <div class="h-text">
                            <p>이것은 명예의 전당 어쩌고 저쩌고</p>
                            <span>작성자: 누구씨</span>
                        </div>
                        <div class="chat">
                            <a href="#">댓글보기</a>
                        </div>
                    </div>
                    <div class="h-card card">
                        <div class="h-text">
                            <p>이것은 명예의 전당 어쩌고 저쩌고</p>
                            <span>작성자: 누구씨</span>
                        </div>
                        <div class="chat">
                            <a href="#">댓글보기</a>
                        </div>
                    </div>
                    <div class="h-card card">
                        <div class="h-text">
                            <p>이것은 명예의 전당 어쩌고 저쩌고</p>
                            <span>작성자: 누구씨</span>
                        </div>
                        <div class="chat">
                            <a href="#">댓글보기</a>
                        </div>
                    </div>
                    <div class="h-card card">
                        <div class="h-text">
                            <p>이것은 명예의 전당 어쩌고 저쩌고</p>
                            <span>작성자: 누구씨</span>
                        </div>
                        <div class="chat">
                            <a href="#">댓글보기</a>
                        </div>
                    </div>
                    <div class="h-card card">
                        <div class="h-text">
                            <p>이것은 명예의 전당 어쩌고 저쩌고</p>
                            <span>작성자: 누구씨</span>
                        </div>
                        <div class="chat">
                            <a href="#">댓글보기</a>
                        </div>
                    </div>
                    <div class="h-card card">
                        <div class="h-text">
                            <p>이것은 명예의 전당 어쩌고 저쩌고</p>
                            <span>작성자: 누구씨</span>
                        </div>
                        <div class="chat">
                            <a href="#">댓글보기</a>
                        </div>
                    </div>
                    <div class="h-card card">
                        <div class="h-text">
                            <p>이것은 명예의 전당 어쩌고 저쩌고</p>
                            <span>작성자: 누구씨</span>
                        </div>
                        <div class="chat">
                            <a href="#">댓글보기</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <header>
            <div class="logo"><img src="/semi-imgs/logo.png" alt=""></div>

            <a href="/index.html" class="mb-3"><i class="fa fa-home fa-2x" style="color: rgb(219, 218, 218);"></i></a>
            <a href="#"><i class="fa fa-calendar fa-2x" style="color: #ddd;"></i></a>
            <div class="profile">
                <div class="profile-img">
                    <img src="/semi-imgs/profile.png" alt="">
                </div>
                <p class="text-dark">홍길동</p>
                <div class="d-flex flex-column mt-3">
                    <button class="btn btn-success text-white mb-1">마이페이지</button>
                    <button class="btn btn-secondary text-white mb-2">로그아웃</button>
                </div>
            </div>
        </header>
    </div>

</body>

</html>